body {
  background: url(fon.jpg);
  text-align: center;
  padding: 50px;
}
h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgb(21, 43, 4);
  font-size: 50px;

  text-shadow: 3px 3px 5px rgb(49, 20, 2);
}
h3 {
  color: rgb(78, 34, 7);
}
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  color: rgb(21, 43, 4);
}
img {
  width: 300px;
  height: 300px;
  transition: 1s;
}

img:hover {
  transform: scale(1.2);
  transition: 1s;
  border-radius: 100%;
}
p {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  color: rgb(41, 7, 7);
}

.logo {
  width: 150px;
  height: 150px;
  float: right;
}

a{
  display: block;
  background: rgb(133, 204, 26);
  padding: 20px;
  box-shadow: 0 0 20px #000;
  width: 15%;
  margin: auto;
  text-decoration: none;
  transition: 1s;
  color:rgb(49, 20, 2);
}

a:hover {
  background: honeydew;
  transition: 1s;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
